@import '../../styles/variables.css';

.hero-video {
  filter: brightness(0.6);
}

.hero-text {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  color: var(--accent-color);
}

.hero-heading {
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
}

.hero-subtext {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}
