.ProductsPage-heading {
  font-size: 2rem;
  color: #e50010;
  text-align: center;
  padding-top: 100px; /* vorher: 80px */
  position: relative;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}
